
$v-luminance-threshold: 180 !default;

$editor-background-color: #3b3f42 !default;
$valo-menu-background-color: $editor-background-color !default;

$v-focus-color: rgb(96, 160, 234) !default;
$v-error-indicator-color: #eb2977 !default;
$v-friendly-color: rgb(54, 185, 85);

$v-font-size: 15px !default;
$v-font-weight: 400 !default;
$v-unit-size: 32px !default;

$login-info-width: 300px !default;
$login-info-opacity: 0.7 !default;
$login-info-opacity2: 1 !default;
$login-background-color: $editor-background-color !default;

$editor-shadow: 0 0 10px 10px rgba(0,0,0,.1) !default;
$editor-embed-background-color: darken($editor-background-color, 5%) !default;
$editor-raised-background-color: lighten($editor-background-color, 10%) !default;
$editor-caption-font-color: valo-font-color($editor-background-color, 0.5) !default;

$v-layout-margin-top: round($v-unit-size / 1.5) !default;
$v-layout-margin-right: $v-layout-margin-top !default;
$v-layout-margin-bottom: $v-layout-margin-top !default;
$v-layout-margin-left: $v-layout-margin-top !default;
$v-layout-spacing-vertical: round($v-unit-size / 1.8) !default;
$v-layout-spacing-horizontal: round($v-unit-size / 1.8) !default;

$random-color: rgb(random(256)-1, random(256)-1, random(256)-1);

// Metro

$v-font-family: "Source Sans Pro", sans-serif;
$v-app-background-color: #fff;
$v-background-color: #eee;
$v-focus-color: #0072C6;
$v-focus-style: 0 0 0 1px $v-focus-color;
$valo-menu-background-color: darken($v-focus-color, 10%);
$v-border: 0 solid v-shade;
$v-border-radius: 0px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-textfield-border: 1px solid v-shade;
$v-link-text-decoration: none;
$v-overlay-shadow: 0 0 0 2px #000;
$v-overlay-border-width: 2px; // For IE8
$v-window-shadow: $v-overlay-shadow;
$v-selection-overlay-background-color: #fff;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-panel-border: 2px solid v-shade;

$red: random(256)-1;
$green: random(256)-1;
$blue: random(256)-1;

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
  .post-title{
  	
  	background-color: rgba($v-selection-color, $login-info-opacity2);
  }
  
  .label-title{
  	color: white;//valo-font-color($v-selection-color, 0.9);
      @include animation(valo-animate-in-fade 1s 1s backwards);

      h1 {
        color: inherit;
      }
  	
  }
  
  .v-panel-content {
	background: #ffee00;
	border: 0px #fff;
	padding: 10px;
	font-family: cursive, sans-serif;
   }
  
  .panel-anime{
  	@include animation(valo-animate-in-fade 1s 1s backwards);
  }
  
  .v-panel {
	overflow: auto;
  }
  
  
	.v-panel:before, .v-panel:after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width:300px;
		background: #777;
		-webkit-box-shadow: 0 18px 10px #777;
		-moz-box-shadow: 0 18px 10px #777;
		box-shadow: 0 18px 10px #777;
		-webkit-transform: rotate(-4deg);
		-moz-transform: rotate(-4deg);
		-o-transform: rotate(-4deg);
		-ms-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}
	.v-panel:after {
		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(43deg);
		-o-transform: rotate(4deg);
		-ms-transform: rotate(4deg);
		transform: rotate(4deg);
		right: 10px;
		left: auto;
	}
	
	/*.note-form {
    right: 0;
    @include transition(all 300ms);
    @include transform(translatex(100%));
  }

  // Enables animation for opening CRUD editor
  .note-form-visible {
  	@include transform(none);
    @include box-shadow($editor-shadow);
  }
 */ 
  .crud-editor {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: $login-info-width;
      height: 100%;
      background: $v-selection-color; // For IE8
      background-color: rgba($v-selection-color, $login-info-opacity2);
      padding: 10;//$v-layout-margin;
      color: valo-font-color($v-selection-color, 0.9);
      @include animation(valo-animate-in-fade 1s 1s backwards);
		
      h1 {
        color: inherit;
      }
    }
    
    .editor-out{
    	@include animation(valo-animate-out-fade 1s 1s backwards);
    }


}
